  p.excerpt {
    padding-left: 3dvw;
    padding-right: 3dvw;
    width: 90dvw;
    padding-top: 30px;
    font-size: 25px;
    font-family: PTSans, sans-serif;
  }

  h1.headline {
    font-size: 80px;
    text-align: center;
    font-family: molot, sans-serif;
  }

  body {
    height: 100dvh;
    width: 100dvw;
    padding: 10px;
    padding-top: 35px;
  }

  article {
    margin-top: 20px;
  }
